html, body{
	height: 100%;
	OVERFLOW: HIDDEN
	
}


body {
	background-image: url("http://images.all-free-download.com/images/graphiclarge/blue_sky_02_hd_pictures_166265.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 160px 32px;
	
	height: 100%;
	
	
}


h1{
	text-align: center;
	font-size: 40px;
	color: white;
	font-family: Helvetica Rounded;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

form{
	text-align: center;
	font-size: 40px;
	color: white;
	font-family: Helvetica Rounded;
	border-radius: 12px;
	border: none;


	
  


}


