html, body {
    background-color: whitesmoke;

}

.nav-tabs{
    background-color:royalblue;
}
.nav-link{
    color: white;

}

.nav-link:hover{
    color: lightgray;
    text-decoration: none;
}

h2{
    color: royalblue;
    margin-left: 100px;
    padding-left: 50px;
    padding-top: 50px;
}

.personal-info-table{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 1000px;

    padding: 50px;
}
.account-balance-table{
  padding-right: 100px;
    padding-left: 50px;
    padding-top: 50px;

}

.add-member-table{
    margin-top: 70px;
    margin-left: 80px;
    margin-bottom: 70px;
    margin-right: 80px;

}
.admin-add-transaction{
    margin-top: 70px;
    margin-left: 80px;
    margin-bottom: 70px;
    margin-right: 80px;
}

.jump-image{
    margin-top: -10px;
    margin-left: 800px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute ;
}

.jump-image2{
    margin-top: -145px;
    margin-left: 900px;
    margin-bottom: 1000px;
    margin-right: 10px;
}

.jump-image3{
    margin-top: 10px;
    margin-left: 500px;
    margin-bottom: 10px;
    margin-right: 200px;
    position: absolute ;
}

.ui-helper-hidden-accessible { display:none; }

