html, body{
    height: 100%;
    OVERFLOW: HIDDEN

}


body {
    background-image: url("https://s3.amazonaws.com/pnr-wp/2016/10/14120623/clouds-1046109_1920-744x463.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 120px 32px;
    height: 100%;

}


h1{
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: Helvetica Rounded;
}

form{
    text-align: center;
    font-size: 40px;
    color: white;
    border-radius: 12px;
    border: none;
    font-family: Helvetica Rounded;

}

.link-color{
   color: white;

}



.perso-info, .account-balance, .admin {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2 px solid white;
    border-radius: 12px;
    cursor:pointer;
    overflow: visible;
    color: white;
    font-size: 20px;
    font-family: Helvetica Rounded;

}


.link-color:hover{
    color: lightgray;
    text-decoration: none;
}


